[Unit]
Description=Simply Audiobook Player
After=mpd.service

[Service]
Type=simple
User=pi
WorkingDirectory=/users/pi/simply-audiobook-player
ExecStart=/home/pi/simply-audiobook-player-env/bin/python simply-audiobook-player.py
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
