[DEFAULT]
sleepSeconds = 0.5
rewindSecondsWhenResuming = -300
pleaseContinue = True
logfile = simply-audiobook-player.log

[MpdActor]
host = localhost
port = 6600
timeout = 10
defaultVolume = 100

[StateActor]
stateFilePath = data/state.json

[TagActor]
tagsFilePath = data/tags.json

[WebActor]
host = 0.0.0.0
port = 8080
fileDirPath = ~/audiobooks

[NfcActor]
longPressInSeconds = 5

[TickActor]
intervalSeconds = 2
intervalCounter = 0
